@font-face {
    font-family: vcrosdmono;
    src: url('./fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
    font-family: pixelcards;
    src: url('./fonts/PixelCards.ttf');
}

@font-face {
    font-family: pixelgrafiti;
    src: url('./fonts/Pixel-Grafiti.ttf');
}

/* Nav Styling */
nav {
    background-color: #408E91;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
}

header > div {
    padding-top: .5rem;
    background-color: #E49393;
}


.nav-left {
    padding-left: 2.5%;
    justify-content: flex-start;
}

.nav-right {
    padding-right: 2.5%;
    justify-content: flex-end;
    padding-left: 0px;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }

.hover-underline-animation {
    font-family: vcrosdmono, sans-serif;
}

.hover-underline-animation:hover {
    display: inline-block;
    position: relative;
    color: #E49393;
  }
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #E49393;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .nav-left {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .nav-right {
        justify-content: center;
    }
}
/* Nav Styling */

main > section {
    margin-left: 1%;
    margin-right: 1%;
}

h4, p {
    font-family: vcrosdmono, sans-serif;
}

h4 {
    color: #408E91;
}

div > section {
    margin-left: 1%;
    margin-right: 1%;
}

button {
    background-color: rgba(108, 117, 125);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
  }

footer {
    margin-top: 3rem;
}
footer > div {
    background-color: #E49393;
    padding-bottom: 0;
    padding-top: .5rem;
}

footer > section {
    text-align: center;
    background-color: #408E91;
    padding-top: 1rem;
}

section > p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

/* Title Name */
.jordan {
color: #245953;
text-align: center;
font-size: 100px;
font-family: vcrosdmono, sans-serif;
}

.title {
color: #245953;
text-align: center;
font-size: 60px;
font-family: pixelcards, sans-serif;
}
/* Title Name */

/* Terminal */
.terminal-header {
height: 28px;
background-color: #e4e3e5;
border-radius: 10px 10px 0 0;
display: flex;
justify-content: flex-start;
align-items: center;
}

.button-red {
width: 12px;
height: 12px;
border-radius: 50%;
margin-left: 9px;
background-color: #f96256;
border: 1px solid #f65549;
}

.button-yellow {
width: 12px;
height: 12px;
border-radius: 50%;
margin-left: 9px;
background-color: #fdbc3d;
border: 1px solid #ffb524;
}

.button-green {
width: 12px;
height: 12px;
border-radius: 50%;
margin-left: 9px;
background-color: #33c948;
border: 1px solid #2dbb41;
}

.terminal-body {
height: 300px;
background-color: #5a5d7a;
border-radius: 0 0 4px 4px;
box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
}

.terminal-content {
    color: #E49393;
}
/* Terminal */


.sub-header {
color: #245953;
text-align: center;
font-size: 40px;
font-family: vcrosdmono, sans-serif;
margin-top: 30px;
}

/* .card {
    height: 100%!important;
} */

/* Cards */
.card {
    background: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
}

.header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.body {
    font-size: .9rem;
}

.footer {
    margin-top: 1rem;
}

.btn {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em, .75em;
    border-radius: .25em;
    cursor: pointer;
}


/* Contact Form */
form > div {
    font-family: vcrosdmono, sans-serif;
}
  
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
  }
/* Contact Form */